.screen {
    border: solid red;
    width: 686px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 210px;
    justify-content: space-around;
    align-items: center;
}