@keyframes walk{
  from{

  }
  
  to{
    transform: translateX(500px);
  }
}

.end , .end2 {
  height: 100vh;
  width: 100%;
  background:url('../assets/img/backgrounds/background_endgame.png') no-repeat ;
  background-size:cover;

  .end__heracles, .end__ulysse{
    width: 15%;
    position: absolute;
    bottom: 20%;
    animation: walk 5s forwards;
  }

  .end__zeus{
    position: absolute;
    width: 30%;
    bottom: 20%;
    right: 10%;
  }

  .end__dialog , .end__dialog2{
    position: absolute;
    width: 50%;
    right:15%;
    top: 20%;

  }

  .end__footer{
    position : absolute;
    bottom:5%;
    left:25%;

    .end__footer__credits{
      width: 20%
    }
    .end__footer__retry{
      width: 30%
    }
    .end__footer__menu{
      width: 17%;
    }
  }

  
}



