body {
  background-image: url('../../assets/images//Home\ screens.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
}
.home__button {
  font-size: 30px;
}
.home__contents {
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.home__spacebar {
  width: 40%;
  margin-top: 50px;
}
.home__topbutton {
  width: 25%;
}