@font-face {
  font-family: "diogenes";
  src: url("../../src/assets/fonts/diogenes.woff") format("woff"),
  url("../../src/assets/fonts/diogenes.woff2") format("woff2");
}

@font-face {
  font-family: "vt323";
  src: url("../../src/assets/fonts/VT323-Regular.woff") format("woff"),
  url("../../src/assets/fonts/VT323-Regular.woff2") format("woff2");
}