.test {
  width: 100vw;
  height: 100vh;
  background-image: url(../../src/assets/img/platform.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1230px;
  background-color: black;
  z-index: 0;
}

.antoine {
  background-image: url(../../src/assets/img/charStand.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.wall__left1 {
  position: absolute;
  height: 85vh;
  width: 20px;
  left: 153px;
  top: 5vh;
}

.wall__bot1 {
  position: absolute;
  height: 22px;
  width: 79vw;
  left: 10vw;
  bottom: 0;
}

.wall__top1 {
  position: absolute;
  height: 30px;
  width: 79vw;
  left: 10vw;
  top: 2vh;
}

.wall__right1 {
  position: absolute;
  height: 85vh;
  width: 20px;
  right: 11.5vw;
  top: 7vh;
}

.characterup {
  background-image: url(../../src/assets/img/charMoveUp.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterdown {
  background-image: url(../../src/assets/img/charMoveDown.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterright {
  background-image: url(../../src/assets/img/charMoveRight.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterleft {
  background-image: url(../../src/assets/img/charMoveLeft.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.displaygrab {
  width: 100px;
  height: 120px;
  background-repeat: no-repeat;
  position: absolute;
  right: 395px;
  top: 7px;

  opacity: 50%;
}

.fridge {
  position: absolute;
  right: 430px;
  top: 27px;
  height: 65px;
  width: 35px;
  z-index: -1;
}
