.gameContainer {
  width: 100vw;
  height: 100vh;
  background-image: url(../../src/assets/img/platform.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1230px;
  background-color: black;
  z-index: -2;
  position: absolute;
}

.antoine {
  background-image: url(../../src/assets/img/charStand.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterup {
  background-image: url(../../src/assets/img/charMoveUp.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterdown {
  background-image: url(../../src/assets/img/charMoveDown.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterright {
  background-image: url(../../src/assets/img/charMoveRight.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.characterleft {
  background-image: url(../../src/assets/img/charMoveLeft.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.puke {
  background-image: url(../../src/assets/img/characterpuke.gif);
  width: 50px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 1;
}

.displaygrab {
  width: 100px;
  height: 120px;
  position: absolute;
  right: 395px;
  top: 20px;
  background-color: green;
  opacity: 50%;
}

.fridge {
  position: absolute;
  right: 430px;
  top: 41px;
  height: 65px;
  width: 35px;
  z-index: -1;
}

.toiletAction {
  position: absolute;
  top: 600px;
  left: 1280px;
  width: 100px;
  height: 100px;
  background-color: green;
  opacity: 50%;
}

.toilet {
  position: absolute;
  top: 630px;
  left: 1320px;
  z-index: -1;
}

.hitbox {
  background-color: blue;
}

.bedAction {
  position: absolute;
  top: 590px;
  left: 587px;
  width: 100px;
  height: 100px;
  background-color: green;
  opacity: 50%;
}

.bed {
  position: absolute;
  top: 590px;
  left: 612px;
  z-index: -1;
}

.stool1 {
  position: absolute;
  top: 310px;
  left: 580px;
  z-index: -1;
}

.stool1Action {
  position: absolute;
  top: 310px;
  left: 580px;
  width: 25px;
  height: 25px;
  background-color: green;
  opacity: 50%;
}

.stool2 {
  position: absolute;
  top: 310px;
  left: 470px;
  z-index: -1;
}

.stool2Action {
  position: absolute;
  top: 310px;
  left: 470px;
  width: 25px;
  height: 25px;
  background-color: green;
  opacity: 50%;
}

.stool3 {
  position: absolute;
  top: 310px;
  left: 360px;
  z-index: -1;
}

.stool3Action {
  position: absolute;
  top: 310px;
  left: 360px;
  width: 25px;
  height: 25px;
  background-color: green;
  opacity: 50%;
}

.stool4 {
  position: absolute;
  top: 450px;
  left: 580px;
  z-index: -1;
}

.stool4Action {
  position: absolute;
  top: 395px;
  left: 580px;
  width: 25px;
  height: 25px;
  background-color: green;
  opacity: 50%;
}

.stool5 {
  position: absolute;
  top: 450px;
  left: 470px;
  z-index: -1;
}

.stool5Action {
  position: absolute;
  top: 395px;
  left: 470px;
  width: 25px;
  height: 25px;
  background-color: green;
  opacity: 50%;
}

.stool6 {
  position: absolute;
  top: 450px;
  left: 360px;
  z-index: -1;
}

.stool6Action {
  position: absolute;
  top: 395px;
  left: 360px;
  width: 25px;
  height: 25px;
  background-color: green;
  opacity: 50%;
}
