body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section {
  width: 700px;
  height: 700px;
  margin: auto;
  position: relative;
}

.avant {
  background-image: url("../assets/img/bg-avant.png");
}

.apres {
  background-image: url("../assets/img/bg-apres.png");
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hidden-display {
  display: none;
}

.visible-display {
  display: block;
}

.kangoo {
  background-image: url("../assets/img/kangooback.png");
  background-size: 200%;
  background-position: center;
}

.tree {
  background-image: url("../assets/img/tree.png");
  background-size: cover;
}

.rock {
  background-image: url("../assets/img/rock.png");
  background-size: cover;
}

.tree-on-fire {
  background-image: url("../assets/img/treeonfire.png");
  background-size: cover;
}

.ashes {
  background-image: url("../assets/img/ashes.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.fire {
  background-image: url("../assets/img/fire.gif");
  background-size: 100%;
  background-position: top;
}

.end {
  background-color: rgb(255, 0, 212);
}

.start {
  background-color: yellow;
}

.baby {
  background-color: pink;
}
