body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.avant {
  width: 700px;
  height: 700px;
  background-color: green;
}

.apres {
  width: 700px;
  height: 700px;
  background-color: orange;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hidden-display {
  display: none;
}

.visible-display {
  display: block;
}

.kangoo {
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  position: absolute;
  z-index: 50;
}
