body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section {
  width: 700px;
  height: 700px;
  margin: auto;
  position: relative;
}

.avant {
  background-color: rgb(78, 233, 78);
}

.apres {
  background-color: orange;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hidden-display {
  display: none;
}

.visible-display {
  display: block;
}

.kangoo {
  background-color: orangered;
  border: solid 1px black;
  width: 70px;
  height: 70px;
}

.tree {
  background-color: rgb(57, 160, 57);
}

.rock {
  background-color: grey;
}

.tree-on-fire {
  background-color: black;
}

.ashes {
  background-color: rgb(58, 42, 42);
}

.fire {
  background-color: red;
}

.end {
  background-color: rgb(255, 0, 212);
}

.start {
  background-color: yellow;
}

.baby {
  background-color: pink;
}
