@font-face {
    font-family: 'Barcade';
    src: url('./global/fonts/BarcadeBoldItalic.woff2') format('woff2'),
        url('./global/fonts/BarcadeBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}