@import 'vendors/reset';

@import 'global/layout';

.character {
  background-color: blue;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.my-element {
  background-color: red;
  height: 50px;
  width: 50px;
}

.bg {
 width: 100vw;
 height: 100vh;
}

.characterup {
  background-color: red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.characterdown {
  background-color: orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.characterright {
  background-color: green;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.characterleft {
  background-color: greenyellow;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

