@import "vendors/reset";

@import "global/layout";

body {
  background-image: url(../assets/img/platform.png);
  background-position: center;
  background-size: 100%;
}

.character {
  background-image: url(../assets/img/charStand.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.wall__left1 {
  position: absolute;
  height: 85vh;
  width: 20px;
  left: 153px;
  top: 5vh;
}

.wall__bot1 {
  position: absolute;
  height: 22px;
  width: 79vw;
  left: 10vw;
  bottom: 0;
}

.wall__top1 {
  position: absolute;
  height: 30px;
  width: 79vw;
  left: 10vw;
  top: 2vh;
}

.wall__right1 {
  position: absolute;
  height: 85vh;
  width: 20px;
  right: 11.5vw;
  top: 7vh;
}

.characterup {
  background-image: url(../../src/assets/img/charMoveUp.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.characterdown {
  background-image: url(../../src/assets/img/charMoveDown.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.characterright {
  background-image: url(../../src/assets/img/charMoveRight.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.characterleft {
  background-image: url(../../src/assets/img/charMoveLeft.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}