@import "vendors/reset";

@import "global/layout";

body {
  background-image: url(../../src/assets/img/platform.png);
  background-position: center;
  background-size: 100%;
}

.character {
  background-image: url(../../src/assets/img/charMoveLeft.gif);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.wall__left1 {
  position: absolute;
  height: 210px;
  width: 20px;
  left: 10vw;
  top: 5vh;
}

.wall__left2 {
  position: absolute;
  height: 250px;
  width: 20px;
  left: 10vw;
  bottom: 5vh;
}

.characterup {
  background-image: url(../../src/assets/img/charMoveLeft.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.characterdown {
  background-image: url(../../src/assets/img/charMoveDown.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.characterright {
  background-image: url(../../src/assets/img/charMoveRight.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}

.characterleft {
  background-image: url(../../src/assets/img/charMoveLeft.gif);
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
}
