.m-i{
  background: url('../assets/images/m-initial.svg') center;
}

.m-r{
  background: url('../assets/images/m-run.svg') center;
}

.m-j{
  background: url('../assets/images/m-jump.svg') center;
}

.f-i{
  background: url('../assets/images/f-initial.svg') center;
}

.f-r{
  background: url('../assets/images/f-run.svg') center;
}

.f-j{
  background: url('../assets/images/f-jump.svg') center;
}

.m-i{
  background: url('../assets/images/m-initial.svg') center;
}

.badFriend{
  background: url('../assets/images/badFriend.svg') center;
}

.train{
  background: url('../assets/images/train.svg') center;
}

.thieft{
  background: url('../assets/images/thief.svg') center;
}

.virus{
  background: url('../assets/images/virus.svg') center;
}

.game__challenge{
  background: url('../assets/images/calou.svg') center;
}