.m-i{
  background: url('../assets/images/m-initial.svg') center;
}

.m-r{
  background: url('../assets/images/m-run.svg') center;
}

.m-j{
  background: url('../assets/images/m-jump.svg') center;
}

.j-i{
  background: url('../assets/images/m-initial.svg') center;
}

.j-r{
  background: url('../assets/images/m-run.svg') center;
}

.j-j{
  background: url('../assets/images/m-jump.svg') center;
}